@model Product
<div asp-validation-summary="All" class="text-danger"></div>
<form class="form" action="" name="myForm" method="post" enctype="multipart/form-data" ng-app="myApp" ng-controller="myCtrl">
    <input type="hidden" asp-for="Id">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="Name" class="form-control" ng-model="Name" required>
            <span style="color:red;" ng-show="myForm.Name.$touched && myForm.Name.$invalid">Product name is required.</span>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="price" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="number" asp-for="price" class="form-control" ng-model="price" required>
            <span style="color:red;" ng-show="myForm.price.$touched && myForm.price.$invalid">Product price is required.</span>
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Color" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="Color" class="form-control">
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Size" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="Size" class="form-control">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProductCode" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="ProductCode" class="form-control">
            <span asp-validation-for="ProductCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Upload Image</label>
        <div class="col-sm-6">
            <input type="file" name="file" accept="image/jpeg image/png image/gif" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" style="background:black; width : 200px;" value="Save">
        </div>
    </div>
</form>

<script src="~/js/angular.min.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.Name = "@Model.Name";
        $scope.price = "@Model.price";
    });
</script>