<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Commerce</title>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/ttw-notification-menu.min.js"></script>
    <script src="~/js/jquery-ui-1.8.14.custom.min.js"></script>
    <script src="~/js/ttw-notification-menu.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/MyStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/style_light.css">
    <script src="~/js/MyScript.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @{ViewData["ReturnUrl"] = null;} 
    <header>
        <div class="header">
            <select class="selectCountry" style="margin-left:220px;">
                <option>united kinkdom</option>
                <option>turkey</option>
            </select>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="selectCountry" style="margin-left:10px;">Home</a>
            @await Html.PartialAsync("_LoginPartial")
            <button class="selectCountry" style="margin-left:10px;">wishlist</button>
        </div>
        <div>
            <div class="header2">
                <span style="margin-left:200px; margin-right:50px; font-size : 20pt;">NEXLINE</span>
                <a href="" class="headerLink">New In</a>
                <a href="" class="headerLink">Men</a>
                <a href="" class="headerLink">Women</a>
                <a href="" class="headerLink">Kids</a>
                <a href="" class="headerLink">Beauty</a>
                <a href="" class="headerLink">Sale</a>
                <input type="text" class="search" placeholder="Search..">
            </div>
            <div style="overflow: hidden; padding : 30px; padding-left:5px;">
                <span id="cart" class="notification-menu-item" style="margin-top:8px;"><img style="margin-top:3px;" src="/images/cart.png"> <a asp-controller="Home" asp-action="Index">Cart</a></span>
            </div>
        </div>
        <div class="firstPart">free next day delivery</div>
        <div class="secondPart">sale now up to 50%</div>
        <div class="thirdPart">free returns to store</div>
    </header>
    <div class="container body-contentb main">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
    <footer>
        <div class="footer">
            <span style="font-size:10pt; margin-left:250px;">
                Sign up to our Newsletter and you'll get
                weekly offers sent to your email.
            </span>
            <input type="text" class="Email" placeholder="Your Email Address"><input type="submit" class="submit">
        </div>
    </footer>
</body>
</html>
