@using Microsoft.AspNetCore.Identity
@using ShoppingCartASP.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Administrator"))
    {
        <a asp-area="" asp-controller="Product" asp-action="Create" class="selectCountry" style="margin-left:50px;">Create Product</a>
        <a asp-area="" asp-controller="Product" asp-action="List" class="selectCountry" style="margin-left:10px;">List of Products</a>
    }

    <a class="selectCountry" style="margin-left:50px;" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    <a asp-area="" asp-controller="Account" asp-action="Logout" class="selectCountry" style="margin-left:10px;">Log out</a>
}
else
{
    <a class="selectCountry" style="margin-left:550px;" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    <a class="selectCountry" style="margin-left:10px;" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
}
